<h1>Searching Pros</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Course name</th>
    <th>Course address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pros.each do |pro| %>
  <tr>
    <td><%= pro.name %></td>
    <td><%= pro.course_name %></td>
    <td><%= pro.course_address %></td>
    <td><%= pro.latitude %></td>
    <td><%= pro.longitude %></td>
    <td><%= link_to 'Show', pro %></td>
    <td><%= link_to 'Edit', edit_pro_path(pro) %></td>
    <td><%= link_to 'Destroy', pro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
