<!DOCTYPE html>
<html>
<head>
  <title>Golfying</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyC77WBfl-zki0vS7h9zyKyYg3htKcERvuo&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
